
<div class="wrap">
    <app-top-menu></app-top-menu>
    <main class="mb-5">
        
       <!--  <ng-container *ngIf="postPreviews$ | async as postPreviews">
            <div class="container"  @opacityAnimation>
                <h1 class="mt-5">Блог</h1>
                <app-post-preview-list [data]="postPreviews"></app-post-preview-list>
            </div>
        </ng-container> -->

        <ng-container>
            <div class="container">
                <!-- <h1 class="mt-5">Публикация нового поста</h1> -->
               <!--  <p style="margin:0" class="mb-3">Список последних проектов, над которыми я работал</p>
                <app-project-list [data]="projectRows"></app-project-list> -->


                
                <h2 class="mt-5">Заголовок</h2>
                <input>
                
                <h2 class="mt-5">Содержание</h2>
                <input>
                  

                <h2 class="mt-5">Тэги</h2>

                <div (click)="focusInput()" class="tagSearchArea">
                    <span *ngFor="let tag of selectedTags; let i = index" class="selectedTag">{{ tag.Title }} <button id="removeSeletedTagButton" (click)="removeSelectedTag(i)">x</button></span>
                    <input 
                            id="tagSearchInput" 
                            type="text" 
                            [(ngModel)]="tagSearch" 
                            (ngModelChange)="tagSearchChanged()" 
                            autocomplete="off"  
                            [placeholder]="tagSearchInputPlaceholder" >
                </div>

                <div class="tag-suggestions p-1" *ngIf="tagSearch">
                  
                    <ng-container *ngIf="TagSuggestions.length == 0">
                        <span class="notFoundMessage p-2">ничего не найдено</span>
                    </ng-container>
                    <ng-container *ngIf="TagSuggestions.length > 0">
                        <div class="tag-suggestion p-2" *ngFor="let tag of TagSuggestions" (click)="selectTag(tag)">
                            <span class="tag">{{ tag.Title }}</span>
                         </div>
                    </ng-container>
                        
                         
                    
                   
                </div>

                <button>Опубликовать</button>
            </div>
        </ng-container>

    </main>
</div>

<app-footer></app-footer>




