<app-top-menu></app-top-menu>

<div class="container pt-4" [ngClass]="{'hide' : !previewList, 'show' : previewList}">
    <div *ngIf="previewList">
        <div *ngFor="let p of previewList" class="mb-3">
            <span class="badge active">{{ p.tag }}</span>
            <div class="row">
                <div class="col-lg">
                    <ul>
                        <li *ngFor="let u of p.posts">
                            <a [routerLink]="['/post', u.id]">{{ u.name }}</a>
                        </li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .hide
    {
        opacity: 0;
        transition: 1s;
    }

    .show
    {
        opacity: 1;
        transition: 1s;
    }

</style>