<!-- <app-top-menu></app-top-menu>

<div class="container mb-5" [ngClass]="{'hide' : !posts, 'show' : posts}">

    <div class="mt-5" *ngIf="posts">
        <h1 style="margin-bottom: .2em;">Написал</h1>
        <div *ngFor="let p of posts">
            <span class="badge green">{{ p.tag }}</span>
            <ul>
                <li *ngFor="let u of p.posts">
                    <a [routerLink]="['/post', u.id]">{{ u.name }}</a>
                </li>
            </ul> 
        </div>
    </div>     
 
    <div class="mt-5 projects" *ngIf="projects">
        <h1 style="margin-bottom: .2em;">Сделал</h1>
        <div *ngFor="let p of projects" class="mb-3">
            <a [href]="p.id" target="_blank">{{ p.name }}</a>
            <p class="m-0">{{ p.description }}</p>
            <div>
                <span class="badge mr-1" *ngFor="let s of p.stack">{{ s.name }}</span>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>

<style>

    .hide
    {
        opacity: 0;
        transition: 1s;
    }

    .show
    {
        opacity: 1;
        transition: 1s;
    }

    .projects a
    {
        font-weight: 700;
        color: #212529;
        transition: .5s;
    }
    
    .projects a:hover
    {
        color: var(--red);
        transition: .5s;
    }

</style> -->