a
{
    font-weight: 700;
    color: var(--black-main);;
    transition: .5s;
}

a:hover
{
    color: var(--red);
    transition: .5s;
}

.stack
{
    background-color: var(--green-light);
}

.project-box
{
    width: 100%;
}

.project-box:hover
{
    cursor: pointer;
}

.project-logo
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-logo img
{
    border-radius: 5px;
    min-width: 100%;
}