<div class="container pt-3">
    <div class="row">
        <div class="col-lg">
            <span [routerLink]="['/']" class="logo">Nikolay | Software Developer </span>
            <nav>
                <ul>
                    <li>
                        <a href="https://github.com/GitBrainsStudio">GitHub</a>
                    </li>

                    <li>
                        <a href="mailto:gitbrains@gmail.com">Почта</a>
                    </li>
                </ul>
            </nav>
        
        </div>
    </div>

</div>

<style>
    .logo
    {
        font-size: 16px;
        font-weight: 700;
        transition: .3s;
        outline: 0;
    }

    .logo:hover
    {
        cursor: pointer;
        transform: .3s;
        color: var(--red);
    }

    li
    {
        display: inline;
        margin-right: 10px;
    }
    
</style>