<!-- <div *ngFor="let post of data"> -->
   <!--  <span class="badge tag unselectable">{{ p.tag }}</span> -->
    <!-- <ul>
        <li *ngFor="let u of p.posts">
            <a (click)="refreshService.redirectTo('/post/' + u.id)" >{{ u.name }}</a>
        </li>
    </ul> 
</div> 
 -->
<!-- <ul>
    <li *ngFor="let post of data">
        <span class="badge tag unselectable" *ngFor="let tag of post.Tags">{{ tag.Title }}</span> 
        <a (click)="refreshService.redirectTo('/post/' + post.Id)" >{{ post.Title }}</a>
    </li>
</ul> 
 -->


<div *ngFor="let post of data" class="mb-2">
    <ul>
        <li *ngFor="let tag of post.Tags">
            <span class="badge unselectable">{{ tag.Title }}</span> 
        </li>
    </ul> 
    <a (click)="refreshService.redirectTo('/posts/' + post.Id)"  >{{ post.Title }}</a> 
    (<a (click)="refreshService.redirectTo('/posts/' + post.Id + '/edit')" >редактировать</a>,<a (click)="delete(post)" >удалить</a>)
</div>
