<footer class="pl-3 pr-3">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class="d-flex justify-content-between">
                    <span>
                        @GitBrainsStudio
                    </span>
                     <nav>
                        <ul>
                            <li>
                                <a href="https://github.com/GitBrainsStudio">GitHub</a>
                            </li>
        
                            <li>
                                <a href="mailto:gitbrains@gmail.com">Почта</a>
                            </li>
                        </ul>
                    </nav>
                </div>
         
            </div>
        </div>
    </div>
</footer>