.logo
{
    font-size: 16px;
    font-weight: 700;
    transition: .3s;
    outline: 0;
}

.logo:hover
{
    cursor: pointer;
    color: var(--red);
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

li
{
    padding-bottom: .35rem;
    display: inline;
    margin-right: 10px;
}



