<div class="top-menu" @opacityAnimation>
<div class="container pt-3">
    <div class="row">
        <div class="col-lg" style="align-items: center;">
            <span [routerLink]="['/']" class="logo">Nikolay | Software Developer </span>
            <nav>
                <ul>
                    <li>
                        <a href="https://github.com/GitBrainsStudio">GitHub</a>
                    </li>

                    <li>
                        <a href="mailto:gitbrains@gmail.com">Почта</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</div>