.tag-suggestions 
{
    position: absolute;
    padding: 4px;
    font-size: 12px;
    border: 1px solid rgba(51, 51, 51, 0.349);

    border-radius: 5px;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.349);
    background-color: white;

    display: flex;
    flex-wrap: wrap;
}

.tag-suggestion:hover
{
    background-color: rgba(40, 40, 41, 0.041);
    cursor: pointer;
} 

.tag-suggestions .notFoundMessage
{
    color: #333;
}

.w-20px
{
    width: 20px;
}

.tag
{
    background-color: #e1ecf4;
    padding: 5px;
    border-radius: 5px;
    color: #39739d;

}


.selectedTag
{
    font-size: 12px;
    background-color: #e1ecf4; 
    border-radius: 3px;
    color: #39739d;
    padding: 5px;
    white-space: nowrap;
    margin: 2px;
    display: flex;
    align-items: center;
}

.tagSearchArea
{
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    /* padding: .6em .7em; */
    border: 1px solid rgba(51, 51, 51, 0.349);
    border-radius: 3px;
    font-size: 13px;
    font-family: inherit;
    z-index: 300;
    display: flex;
    flex-wrap: wrap;
    min-height: 37px !important;
 
}

.tagSearchArea:focus
{
    box-shadow: 0 0 5px rgb(0, 153, 255);
}

#tagSearchInput
{
    font-size: 12px;
    outline: none;
    border:none;
/*     margin-left: 5px; */
    margin: 4px;
    padding: 5px;
}

#removeSeletedTagButton
{
  background-color: #e1ecf4; 
  color: #54b3f7;
  border: none;
  border-radius: 3px;
}

#removeSeletedTagButton:hover
{
    background-color: #39739d; 
    cursor: pointer;
}


.s-input
{
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    padding: .6em .7em;
    border: 1px solid rgba(51, 51, 51, 0.349);
    border-radius: 3px;
    font-size: 13px;
    font-family: inherit;
    z-index: 300;
    outline: 0;
}


.s-tag-dismiss
{
    align-content: center;
    align-self: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-left: 4px;
    padding: 1px;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    outline: 0;
    fill: #39739d;;
}
