/* You can add global styles to this file, and also import other style files */
@import './bootstrap-grid.css';

:root
{
    --box-shadow-light: rgba(0,0,0,0.108);
    --box-shadow-medium: rgba(0,0,0,0.132);
    --box-shadow-heavy: rgba(0,0,0,0.18);
    --font-sans-serif: "PT Sans",sans-serif;
    --font-monospace: "PT Mono",monospace;
    --prism-background: #272822;
    --red: #a03000;
    --blue: #0064a8;
    --dark-blue : #4c6491;
    --white: #fff;
    --black: #000;
    --dark: #1e1e1e;
    --light: #cfcfcf;
    --green-light: #97a0eb;
    --aqua : #88bbdd;
    --yellow : #dda44f;
    --black-main: #212529;
    --gray-sticky : rgba(242, 242, 242, 1);
    --red-transparent: rgba(160,48,0,.3);
    --blue-transparent: rgba(0,100,168,.2);
    --grey-light-no-transparency: #e0e0e0;
    --grey-light: rgba(0,0,0,.1);
    --grey-lighter: rgba(0,0,0,.2);
    --grey-normal: rgba(0,0,0,.3);
    --grey-dark: rgba(0,0,0,.6);
    --white-transparent-the-most: hsla(0,0%,100%,.2);
    --white-transparent-temperred: hsla(0,0%,100%,.5);
    --white-transparent-most-opaque: hsla(0,0%,100%,.9);
    --background-color: var(--white);
    --text-color: var(--black);
    --text-color-link-decoration: var(--grey-light);
    --subheader-font-size: 1.75rem;
    --subheader-line-height: 2.05rem;
    --large-header-line-height: 1em;
    --header-main-font-size: 2.3rem;
    --header-main-line-height: 2.5rem;
    --large-header-font-size: 3rem;
    --top-menu-height: 80px;
    --footer-height: 30px;
}

body {
    margin: 0;
    font-family: var(--font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--black-main);
    background-color: #fff;
  }

a {
    font-family: var(--font-sans-serif);
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-bottom: 1px solid var(--blue-transparent);
    transition: .3s;
    color: var(--blue);
    border-bottom-color: var(--blue-transparent);
}

a:hover
{
    cursor: pointer;
    color: var(--red);
    transition: .3s;
}


h1,h2,h3,h4,h5,h6
{
    margin: 0;
/*     line-height: 1.2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-bottom: .2em; */
}

.badge
{
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: var(--white);
    background-color: var(--aqua);
}

blockquote {
    margin: 0;
    border-left: 3px solid var(--dark-blue);
    padding-left: 12px;
    color: var(--dark-blue);
}

.badge:hover
{
    cursor: pointer;
}

.button:hover
{
    transition: 1s;
    background-color: var(--red);
}

.button 
{
    transition: 1s;
    font-weight: 700;
    font-size: 12px;
    color: var(--white);
    background-color: var(--aqua);
    border-radius: 3px;
    padding: 5px;
    white-space: nowrap;
    margin: 2px;
    display: flex;
    align-items: center;
    border: 0;
    cursor: pointer;
}

.wrap
{
    min-height: calc(100vh - var(--footer-height));
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}


pre 
{
    overflow-x: auto;
    background-color: var(--gray-sticky);
    color: var(--black);
    border-radius: 5px;
    padding: 10px;
}

.hide
{
    opacity: 0;
    transition: .5s;
}

.show
{
    opacity: 1;
    transition: 2s;
}
