.s-input
{
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    padding: .6em .7em;
    border: 1px solid rgba(51, 51, 51, 0.349);
    border-radius: 3px;
    font-size: 13px;
    font-family: inherit;
    z-index: 300;
    outline: 0;
}

